{% extends 'base.html' %}

{% block content %}
<div id="about-container" class="container">
    <h1 id="about-title">About TMA</h1>

    <section id="about-overview">
        <p>TMA serves as the premier task management solution, expertly crafted to assist both individuals and teams in efficiently organising, prioritising, and tracking their tasks. Whether you are engaged in personal projects or leading a team, TMA enables you to maintain oversight of your responsibilities with remarkable ease.</p>
    </section>

    <section id="about-features">
        <h2>Why TMA?</h2> 
        <ul>
            <li><strong>Priority Levels:</strong> Categorise tasks as high, medium, or low priority using distinct color indicators for easy recognition.</li>
            <li><strong>Simple Task Handling:</strong>  Quickly add, modify, or remove tasks without hassle.</li>
            <li><strong>Streamlined Overview:</strong> Instantly see both pending and finished tasks for better organisation.</li>
            <li><strong>Device-Friendly Interface:</strong> Access TMA seamlessly across smartphones, tablets, or computers.</li>
        </ul>
    </section>

    <section id="about-mission">
        <h2>TMA Objective</h2>
        <p>Goal is straightforward and to make task management as simple and efficient as possible. believe that the foundation of productivity lies in simplicity and organisation, which is why TMA is crafted with an intuitive interface and features designed for ease of use.</p>
    </section>

    <section id="about-vision">
        <h2>TMA Outlook</h2>
        <p>Envisioning TMA as an essential tool for individuals and teams across the globe, streamlining workflows, meeting deadlines, and achieving their objectives with increased efficiency.</p>
    </section>

   

    <section id="about-cta">
        <h2>Commence Your Journey with TMA</h2>
        <p>Join the expanding community of users who are enhancing their productivity with TMA. It’s free to begin, simple to use, and designed to keep you organised!</p>
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign In Now</a>
    </section>
</div>
{% endblock %}