{% extends 'base.html' %}

{% block title %}Home - TMA{% endblock %}

{% block content %}
<div id="hero-section">
    <div class="container">
        <h1>Planning Made Simple</h1>
        <p>Determine, track, and accomplish your tasks efficiently.</p>
        <div class="cta-buttons">
            {% if user.is_authenticated %}
            <a href="{% url 'about' %}" class="cta-secondary">Know More</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="cta-primary">Sign In</a>
            <a href="{% url 'about' %}" class="cta-secondary">Learn More</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="description-section" class="section">
    <div class="container">
        <h2>Task Management Made Simple</h2>
        <p>Welcome to TMA – Discover an effective method to manage your tasks and enhance your productivity each day. Whether you're balancing individual responsibilities or leading a team, our easy-to-use platform helps you stay organised, monitor your progress, and acknowledge your successes.</p>
    </div>
    <div class="image-container">
        <img src="https://res.cloudinary.com/defkksjtb/image/upload/v1729106276/DALL_E_2024-10-16_20.17.13_-_A_laptop_screen_displaying_a_modern_productivity_app_interface._The_screen_showcases_organized_task_lists_with_checkmarks_next_to_completed_tasks_pro_r4wdxx.webp"
            alt="Join TMA today">
    </div>
</div>

<!-- We will use font awesome here below -->
<div id="how-it-works-section" class="section">
    <div class="container">
        <h2>How TMA Functions</h2>
        <div class="how-it-works-steps">
            <div class="step">
                <i class="fa-solid fa-user fa-3x"></i>
                <p>Sign In.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-bars-progress fa-3x"></i>
                <p>Add tasks and set deadlines.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-chart-column fa-3x"></i>
                <p>Track Progress</p>
            </div>
        </div>
    </div>
</div>

<div id="key-features-section" class="section">
    <div class="features-container">
        <div>
            <h2>Primary Highlights</h2>
            <ul class="features-list">
                <li><strong>Creating and Updating Tasks:</strong> Efficiently create and modify tasks to streamline your workload management.</li>
                <li><strong>Hierarchy of Task Priorities:</strong> Assign priority levels—High, Normal, or Low—with color-coded tags for immediate visual reference.</li>
                <li><strong>Completing Tasks:</strong> Seamlessly move tasks to the Completed section with a single click upon completion.</li>
                <li><strong>Task Lookup:</strong> Quickly locate tasks through keyword search and filters for enhanced navigation.
                </li>
                <li><strong>Ongoing & Finished Tasks:</strong>  View both active and completed tasks on your dashboard, clearly separated for better organisation.</li>
                <li><strong>Deleting Unnecessary Tasks:</strong> Safely delete tasks with confirmation prompts to prevent accidental removal.</li>
            </ul>
        </div>
        <div class="image-container">
            <img src="https://res.cloudinary.com/defkksjtb/image/upload/v1727276061/samples/cup-on-a-table.jpg">
        </div>
    </div>
</div>

<div class="cta-section">
    <div class="container">
        <h2>Prepared to Enhance Your Efficiency?</h2>
        <p>Become a part of TMA today and gain unprecedented control over your tasks. It's quick, straightforward, and free to begin!
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="btn-cta-primary"><i class="fa-solid fa-table-columns fa-3x"></i></a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn cta-primary"><i class="fa-solid fa-user-large"></i></a>
        {% endif %}
    </div>
</div>

{% endblock %}